.main {
  overflow: auto;
  min-height: 100vh;
  background-image: linear-gradient(navy, rgb(1, 1, 20));
  color: whitesmoke;
}
.heading {
  padding-left: 20vw;



}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: gold;
  
  
}
.section > img {
  height: 70vh;
 
}

button{
  border-radius: 32px;
  font-size: 12pt;
  font-weight: bold;
  width: 100px;
  padding:10px;
  color: rgb(226, 69, 95);
}


