.main {
  overflow: auto;
  min-height: 100vh;
  background-image: linear-gradient(navy, rgb(1, 1, 20));
  color: whitesmoke;
}
.heading {
  padding-left: 20vw;
}
.section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2em;
  color: gold;
  
  
}
.section > img {
  height: 70vh;
 
}


