.main {
  overflow: auto;
  background-image: linear-gradient(skyblue, darkblue);
  min-height: 100vh;
}
.heading {
  padding-left: 0vw;
  color: rgb(226, 69, 95);
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
